<div layout="row" layout-align="center center" ng-controller="RestoreController">
    <div class="auth_pages" layout="column" flex="20" layout-align="center center">
        <img src="http://placehold.it/150x150" alt="logo">
        <form name="restoreForm" layout="column" layout-fill>
            <md-input-container flex="nogrow">
                <label>Email</label>
                <input type="email" name="email" required ng-model="restoredUser.email" ng-pattern="/^.+@.+\..+$/">
                <div ng-messages="restoreForm.email.$error" role="alert">
                    <div ng-message-exp="['required', 'pattern']">
                        Email is required.
                    </div>
                </div>
            </md-input-container>
            <md-button class="md-raised md-primary" ng-click="restore()" ng-disabled="restoreForm.$invalid">Restore
                password
            </md-button>
        </form>
        <div class="error" layout="row" layout-fill>
            <p>{{error}}</p>
        </div>
    </div>
</div>
